@import "src/assets/styles/variables";

.map-container {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .image-keeper {
    min-width: 400px;
    max-width: 400px;
    position: relative;

    img {
      width: 100%;
      image-resolution: 400px 400px;
    }
  }

  animation: fadeInUp both 600ms;
  animation-delay: 600ms;
}
