@import "src/assets/styles/variables";

.details-container {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &.visible {
    animation: fadeInUp both 600ms;
    display: flex;
    height: auto;
  }

  &.hidden {
    animation: fadeOut both 600ms;
    display: none;
    height: 0px;
  }
}
