<div class="container" [formGroup]="form">
  <div class="go-home">
    <i class="pi pi-arrow-left" [routerLink]="'/'"></i>
  </div>
  <div class="form-container">
    <app-card>
      <div class="controls-container">
        <div class="control">
          <label htmlFor="email-login">Email</label>
          <input
            pInputText
            id="email-login"
            type="email"
            aria-describedby="email-help"
            formControlName="email"
          />
        </div>
        <div class="control">
          <label htmlFor="field-password">Password</label>
          <input
            pInputText
            id="field-password"
            type="password"
            aria-describedby="password-help"
            formControlName="password"
          />
        </div>
      </div>
      <div class="footer">
        <div class="info">
          You don't have account? <a [routerLink]="'/register'">Create one!</a>
        </div>
        <button
          pButton
          type="submit"
          [disabled]="form.invalid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </app-card>
  </div>
</div>
