@import "src/assets/styles/variables";

.welcome-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .name {
    font-weight: 600;
    font-size: 1.2rem;
  }

  animation: fadeInUp both 600ms;
  animation-delay: 300ms;
}
