@import "primeng/resources/themes/rhea/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100svh;
  width: 100svw;
  overflow-x: hidden;

  background-image: url("/assets/images/background.svg");
  background-position: bottom;
  background-repeat: space;
  background-size: cover;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .no-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .pointer {
    cursor: pointer;
  }
}
